#properties {
    color: white;
    position: absolute;
    background-color: #49904e;
    width: 20%;
    right: 0px;
    text-align: center;
    box-shadow: 1px 3px 6px -1px rgba(0, 0, 0, 0.75);
    height: calc(100% - 60px);
}

#properties-title {
    margin-top: 5px;
    display: flex;
    margin-bottom: 2px;
    line-height: 23px;
}

#properties-title strong {
    margin-left: 20%;
}

#propertiescontent {
    background-color: white;
    min-height: 50px;
    border: 1px solid #49904e;
    padding: 8px;
    height: calc(100% - 50px);
    color: #004805;
}

#propertiescontent div span{
    width: 100%;
    border-bottom: 1px solid #49904e;
}

#propertiescontent div span:first-child{
    float: left;
}

#propertiescontent div span:not(first-child){
    float: right;
}

.property-row {
    margin-top: 5px;
    display: flex;
    text-align: left;
}

.property-container {
    margin-top: 12px;
    padding: 5px;
    outline: 1px solid #49904e;
    background-color: #e4e3c8;
}

.property-container-title {
    width: calc(100% + 10px);
    position: relative;
    left: -5px;
    top: -5px;
    background-color: #bdf1b9;
    outline: 1px solid #49904e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display:flex;
}

.childJoint {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #f7f6e8;
    border-radius: 3px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
    margin-right: 1px;
    margin-left: 1px;
}

.expand {
    float: right;
    position: relative;
    padding: 5px;
    background-color: red;
    color: green;
    background-color: #feffb8;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
    width: 15px;
    height: 15px;
    top: -3px;
    left: -3px;
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    margin-left: 10px;
    float: right;
    cursor: pointer;
}

.image-box {
    border: 1px solid #6ac564;
    padding: 5px;
    cursor: pointer;
}

#fileInput {
    display: none;
}